a {
  position: relative;
  text-decoration: none;
  color: rgb(190, 23, 23);
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}